@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  color: #370617;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(12, 1fr);
  height: 95vh;
  gap: 10px;
  margin: 20px;
}
header{
  background-color: #ffadad;
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  place-content: center;
  border: 2px solid #370617;
}
nav{
  background-color: #ffd6a5;
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  place-content: center;
  border: 2px solid #370617;
}
aside{
  background-color: #fdffb6;
  grid-column: 1/2;
  grid-row: 3/12;
  display: grid;
  place-content: center;
  border: 2px solid #370617;
}
section{
  background-color: #caffbf;
  grid-column: 2/3;
  grid-row: 3/12;
  display: flex;
  flex-direction: column;
  border: 2px solid #370617;
  padding: 10px;
  gap: 10px;
}
article{
  background-color: #9bf6ff;
  height: 100%;
  display: grid;
  place-content: center;
  border: 2px solid #370617;
}
footer{
  background-color: #a0c4ff;
  height: 60px;
  grid-column: 1/-1;
  grid-row: 12/-1;
  display: grid;
  place-content: center;
  border: 2px solid #370617;
}